:root {
  --white: #fff; /* background and primary-foreground */

  --gray-100: #cdd3eb; /* primary-light */
  --gray-400: #141c3a; /* primary and secondary-foreground */
  --green: #5be8b9; /* secondary */
  --purple: #6e07f3; /* foreground */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.button {
  display: inline-block;
  border: 0.2rem solid var(--purple);
  color: var(--purple);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  transition: all ease 0.2s;
}

.button:hover {
  background-color: var(--purple);
  color: var(--white);
}
